body {
  font-family: Helvetica, sans-serif;
}

#masthead {
  text-align: center;
}

.subtitle {
  color: #50815C
}

.thumbnail {
  width: 150px;
  height: 100px;
}

.logo {
  width: 200px;
  height: 200px;
}
