body {
  font-family: Helvetica, sans-serif;
}

#masthead {
  text-align: center;
}

.subtitle {
  color: #50815C
}

.thumbnail {
  width: 150px;
  height: 100px;
}

.logo {
  width: 200px;
  height: 200px;
}

article {
  display: grid;
  grid: "img meta" auto / 200px auto;
  margin-bottom: 20px;
}

.article-img {
  grid-area: img;
  justify-self: center;
}

.article-meta {
  grid-area: meta;
  align-self: start;
}
